<% @comments.each_with_index do |comment, index| %>
  <div class="comment">
    <h3><%= index+1 %>. <a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a></h3>
    <span> <%= created_ago(comment.created_at) %> by <%= comment.user.username %> | 
    <p> <%= comment.body %> </p> 
   </div>
<% end %>