  <div id="post_info_section">
    <a id="post_title"href="<%= @post.url %>"><%= @post.title %></a>
    <p id="post_details"><%= post_details(@post) %></p>


  </div>

  <% if current_user %>
    <div id="comment_input_section">
      <form action="/posts/<%= @post.id %>/comments/new" method="post">
        <textarea id="comment_input" name="body"></textarea>
        <input type="submit" value="add comment" name="submit">
      </form>
    </div>
  <% end %>


  <div id="comments_section">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p class="comment-header"><%= comment.user.username %> <%= created_ago(comment.created_at)%></p>
        <p class="comment-body"><%= comment.body %></p>
      </div>
    <% end %>
  </div>

</div>
