  <header>
    <img id="header_image" src="/img/hackernews.gif">
    <h3>Hacker News</h3>
    <nav>
      <dl>
        <dd><a href='#'>new</a></dd>
        <dd><a href='#'>comments</a></dd>
        <dd><a href='#'>ask</a></dd>
        <dd><a href='#'>jobs</a></dd>
        <dd><a href='/submit'>submit</a></dd>
      </dl>
    </nav>
    <div id="login"><a href="/users/new">signup</a></div>
    <div id="login"><a href="/login">login</a></div>
  </header>

<div class="container">  

  <% if @errors %>
    <div class="errors"><p> @errors <p></div>
  <% end %>

  <div id="post_info_section">
    <a href="<%= @post.url %>"><%= @post.title %></a>
    <span><%= created_ago(@post.created_at) %></span>
  </div>

  <div id="comment_input_section">
    <form action="/posts/<%= @post.id %>/comments/new" method="post">
      <textarea id="comment_input" name="body"></textarea>
      <input type="submit" value="submit" name="submit">
    </form>
  </div>


  <div id="comments_section">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <span>Comment by <%= comment.user.username %> <%= created_ago(comment.created_at)%></span>
        <p><%= comment.body %><p>
      </div>
    <% end %>
  </div>

</div>
