<p> user: <%= @user.username %> <p>
<p> created: <%= created_ago(@user.created_at) %> <p>
<p> email: <%= @user.email %> <p>
<p><a href="/users/<%= @user.id %>/posts">posts</a> <%="(#{user_post_votes(@user)} points)"%></p> 
<p><a href="/users/<%= @user.id %>/comments">comments</a> <%="(#{user_comment_votes(@user)} points)"%></p>  
